* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  width: 70%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 1vw;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f2f2f2;
  color: black;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.button {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 3vw;
  gap: 0.5vw;
}

button {
  padding: 0.5vw 1.5vw;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
}
